@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --gradient-background: radial-gradient(
        ellipse 80% 80% at 50% -20%,
        rgba(120, 119, 198, 0.3),
        rgba(255, 255, 255, 0)
    );
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
        --gradient-background: radial-gradient(
            ellipse 80% 80% at 50% -20%,
            rgba(120, 119, 198, 0.3),
            rgba(255, 255, 255, 0)
        ); /* Custom gradient */
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    background-attachment: fixed;
    background-image: var(
        --gradient-background
    ); /* Add gradient to background */
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}
